<div class="row">
    <div class="col-md-4">
        <form asp-action="FindEmployee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>    
            <div class="form-group">
                <label class="control-label">請輸入要查詢的ID</label>
                <input name="num" class="form-control" />               
            </div>
            <div class="form-group">
                <input type="submit" value="送出" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



